<!-- single_pages/templates/account/signup.html -->

<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" media="screen">
    <title>MUSICPLUS 회원가입</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center mt-5">
                {% block content %}
                    <h2>회원가입 페이지</h2>
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">가입하기</button>
                    </form>
                {% endblock %}
                <p class="text-muted mt-5">
                    당신의 음악을 Music+와 함께하세요!
                </p>
            </div>
        </div>
    </div>
    <script src="{% static 'js/signup.js'%}"></script>
</body>

</html>