{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Comment - Blog{% endblock %}

{% block main_area %}
    <style>
        #div_id_content {margin:0;}                      
        #div_id_content label {display:none;} 
        textarea {width:100%; resize:none !important;}           
    </style>
        <h1>Edit Comment</h1>
        <hr/>
        <form method="post" id="comment-form">{% csrf_token %}
            {{ form | crispy }}
            <br/>
            <button type="submit" class="btn btn-danger float-right">Submit</button>
        </form>
{% endblock %}