{% comment %} "\blog\templates\blog\캐러셀.html" {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="single_pages/캐러셀.css">
<main>

    <div id="carousel">

       <div class="hideLeft">
        <img src="https://i.namu.wiki/i/eSjUM4niAj-XhDBN8uhahYPw4T-zca3G47_JiTAXxuK7BtQ5iiWGZ5nAZsY5eWFuVCKEkd9SP4Y_Ipx4VOc670q4k9KYj-4ODYkcl3ZsTHMLtTHJj_UNlg45XdkJCdmkd8zN6qRmof6rWFgF7uN7CA.jpg">
      </div>

      <div class="prevLeftSecond">
        <img src="https://i.namu.wiki/i/MxJlBqA0NciLV_eaj9dpbbKlwnBk8giRMJ6tCfSZbTveLrdd4_GpV-YsLvXwe_WauoG7Zb7eNS41jqPdLnxYgvP_lQemqDAppGmPVkfyah-947xzF2kdOSuQl54irypdK4CbIVaoyITm7vVizhLBbw.webp">
      </div>

      <div class="prev">
        <img src="https://i.namu.wiki/i/R8wabekNNKuY8rNDY2ah3w4qaeW5NX-kFvTAhgQMRaQZW3hJqAaS_eTwhh-MUZIIideP-zzc3PWgSnRE8nCsMSQPYJNT3xdni7fj65xxy07eFyG3BOME5gvNwCwFfV0cLn_JTOrv0_IxKdHOEB4Afw.webp">
      </div>

      <div class="selected">
        <img src="https://i.namu.wiki/i/AZycwx6QaWUU7JZtMtWgzkeL9jgzRem_6h35rSYIT0hqOxIZEPi7VFxKwVVf_OhLrWHU5ufSQ1HHzqk4y7iDvXshdjb60AaFLOEtn_SvJA93roSqzQmLTL3E5jCnItAUg2e8FPP-S0frSh954zXIhw.webp">
      </div>

      <div class="next">
        <img src="https://i.namu.wiki/i/3x3zJf1bH3_2fLhyC8ujUAsavUf55_okHzWxrGBcsO9QQyCnYu1hOA1YM-fKL6WAg5y1zycnlPi3qtvFEuOPQXOum6TF90Mx4OqZeYn1g_xyTWtsqWwQVQCBG0VeG-lBRYZeVf5ODeG1FYlkFy3lmA.webp">
      </div>

      <div class="nextRightSecond">
        <img src="https://i.namu.wiki/i/t_Yz-2ggHJZ_pn9kNNEJlqi82L3HLEC6ETY7Hpo3TcjSjt2jSuhnJ-eMQDeEMIBDZjtVYuZ-rJqxon26avjwLvO2HYQJLqMqx8E3L66-hmMUGYmYhYzu3K_5DChOWPT13ORRH_R4bq_j_DGHSzCqCQ.webp">
      </div>

      <div class="hideRight">
        <img src="https://i.namu.wiki/i/XL5hVu8P-CkBVOSXdIYdtaDDnSaK-UfrsKXJwZQnAWx3XrsbC3ftphSGl-P6t5WYeEwD4Fp2YKhQvsOxa-QyX8p1V_NNY8ZHJZSBayM2-PLihlrYFSejGBSuf8fi15PZtHnea-Y_E4UUg0XpER9DqA.webp">
      </div>

    </div>

    <div class="buttons">
      <button id="prev">Prev</button>
      <button id="next">Next</button>
    </div>

  </main>
  <script src="single_pages/캐러셀.js"></script>





{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="single_pages/캐러셀.css">
<main>

    <div id="carousel">

       <div class="hideLeft">
        <img src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg">
      </div>

      <div class="prevLeftSecond">
        <img src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg">
      </div>

      <div class="prev">
        <img src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg">
      </div>

      <div class="selected">
        <img src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg">
      </div>

      <div class="next">
        <img src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg">
      </div>

      <div class="nextRightSecond">
        <img src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg">
      </div>

      <div class="hideRight">
        <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
      </div>

    </div>

    <div class="buttons">
      <button id="prev">Prev</button>
      <button id="next">Next</button>
    </div>

  </main>
  <script src="single_pages/캐러셀.js"></script> {% endcomment %}